<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Example Project">
    <test name="My Test 1">
        <classes>
            <class name="com.sbn.tests.Class1"></class>
            <class name="com.sbn.tests.Class2"></class>
        </classes>
    </test>

    <test name="My Test 2">
        <classes>
            <class name="com.sbn.tests.Class1"></class>
            <class name="com.sbn.tests.Class2"></class>
        </classes>
    </test>

    <test name="My Test 3">
        <classes>
            <class name="com.sbn.tests.Class1"></class>
            <class name="com.sbn.tests.Class2"></class>
        </classes>
    </test>

</suite>